<h1>All Users</h1>

<%= form_tag users_path, method: :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search"%>
<% end %><br>

<% @users.each do |user|%>
    <%= link_to "#{user.first_name} #{user.last_name}", user %><br>
    <ul>
    <% user.fluencies.each do |fluency| %>
        <li><%= fluency.language.name %>
        <%= fluency.experience.level %></li>
    <% end %>
    </ul>
<% end %>
