<% if logged_in? && @user !=current_user %>

    <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>
    <ul>
    <% @user.fluencies.each do |fluency| %>
        <li><%= fluency.language.name %>
        <%= fluency.experience.level %></li>
    <% end %>
    </ul>
    <% if @user.languages.count > 0 %>
        <%= form_tag new_lesson_path, method: 'get' do %>
            <%= hidden_field_tag :student_id, current_user.id %>
            <%= hidden_field_tag :teacher_id, @user.id %>
            <%= submit_tag "Invite to Language Lesson" %>
        <% end %>
    <% end %>

<% elsif logged_in? && @user ==current_user %>
    <h1>welcome to your profile <%=@user.first_name%> </h1>
    <% if current_user.languages.count > 0 %>
        <h3> Your current Languages are: </h3>
        <ul>
        <% @user.fluencies.each do |fluency| %>
            <li><%= fluency.language.name %>
            <%= fluency.experience.level %></li>
        <% end %> 
    <% else %> 
    <h3> You currently have no languages. </h3>
    <% end %> 
    </ul>
    
    
    <% if @user.unlearned_languages.count > 0 %>
        <%= form_tag new_fluency_path, method: 'get' do %>
            <%= hidden_field_tag :user_id, current_user.id %>
            <%= submit_tag "Add language" %>
        <% end %>
    <% end %>

    <%= form_tag fluencies_path, method: 'get' do %>
        <%= hidden_field_tag :user_id, current_user.id %>
        <%= submit_tag "Edit language" %>
    <% end %>

<% end %>