
<% if logged_in? && @student == current_user %>
    <h1>All my lessons</h1>
    <% i = 0 %>
    <% @lessons.all.each do |lesson| %>
        <h3><%= link_to "Lesson #{i += 1}", lesson_path(lesson)%> </h3>
        Date: <%= lesson.date %><br>
        Language: <%= lesson.language.name %><br>
        Teacher: <%= link_to lesson.teacher.first_name, lesson.teacher %><br>
        Student: <%= lesson.student.first_name %>
    <% end %>
<% end %>