<h1>Lesson info</h1>
Date: <%= @lesson.date %><br>
Language: <%= @lesson.language.name %><br>
Classmate: <%= link_to @lesson.teacher.first_name, @lesson.teacher %><br>
Me: <%= @lesson.student.first_name %>
<%= form_tag convos_path, method: 'get' do %>
  <%= hidden_field_tag :lesson_id, @lesson.id %>
  <%= submit_tag "Message" %>
<% end %>