<h1>Lesson info</h1>
Date: <%= @lesson.date %><br>
Language: <%= @lesson.language.name %><br>
<% if @lesson.teacher == current_user %>
Me: <%= @lesson.teacher.first_name %><br>
Classmate: <%= link_to @lesson.student.first_name, @lesson.student %>
<% else %>
Me: <%= @lesson.student.first_name %><br>
Classmate: <%= link_to @lesson.teacher.first_name, @lesson.teacher%>
<% end %>
<%= form_tag convos_path, method: 'get' do %>
  <%= hidden_field_tag :lesson_id, @lesson.id %>
  <%= submit_tag "Message" %>
<% end %>
<%= button_to "Edit Lesson", edit_lesson_path(@lesson), method: :get %>
<%= button_to "Cancel Lesson", lesson_path(@lesson), method: :delete %>


